* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
	color: #fff;
}

main {
	color:rgb(5, 23, 39);
}

.contacts-body .container {
  max-width: 940px;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  /* padding: 20px 0; */
}

.header__img {
	width: 600px;
}

.header-container {
	display: grid;
  max-height: 768px;
}

.header {
  margin-bottom: 64px;
  font-weight: 300;
	background: linear-gradient(229.99deg, #000a0a -26%, #1b2055 145%);
}

.main-header {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.heading {
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 27px;
}

.button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
}

.header-button {
  border-radius: 10px;
  margin-top: 71px;
}

.heading-top {
  padding-top: 115px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* background-image: url(img/illustration.png);
	background-repeat: no-repeat;
	background-position: right center; */
  background: url(img/illustration.png) right center no-repeat;
  background-size: 50%;
}

.heading-top-box {
  max-width: 510px;
  margin: 50px 0;
}

.text, .heading, .heading-h4 {
  color: #1F3F68;
}

.contacts-main-image {
  width: 350px;
}

.text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.05em;
  opacity: 0.6;
  text-align: left;
}

.projects {
  margin-bottom: 32px;
}

.projects-heading {
  margin-bottom: 32px;
}

.projects-text {
  text-align: center;
}

.smart-box {
  text-align: right;
  /* max-height: 480px; */
  margin-bottom: 32px;
  position: relative;
  /* width: 100%; */
}

.smart-box img {
  width: 100%;
}

.apps-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 120px;
}

.apps-box-item {
  position: relative;
  max-height: 417px;
  text-align: left;
  margin-bottom: 32px;
}

.apps-box-item img {
  width: 100%;
}

.apps-box2 {
  margin-left: 20px;
}

.main-info {
  padding: 20px 0;
}

.other-projects {
  position: absolute;
  left: 64px;
  top: 64px;
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.other-projects-right {
  right: 64px;
}

.apps-box-item.other-projects {
  font-size: 28px;
}

.heading-top-text {
  width: 425px;
}

.main-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto 20px;
}

.main-info-heading {
  margin-bottom: 38px;
}

.main-info-box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 359px;
  margin: 10px;
  padding: 44px 32px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.main-info-box-text {
  width: 295px;
  margin-bottom: 39px;
}

.main-info-box-pic {
  margin-bottom: 51px;
}

.main-info-box2 {
  position: relative;
}

.main-info-box2::after {
  position: absolute;
  content: url(img/main-info-pic-over.png);
  top: 0px;
  /* background-image: url(img/main-info-pic-over.png);
    background-repeat: no-repeat;
    z-index: 10;
    top: 0;
    left: 20px; */
}

.main-info-box-item-block {
  text-align: left;
}

.main-info-box-link {
  text-decoration: none;
  position: relative;
  color: #5A98D0;
}

.main-info-box-link:after {
  position: absolute;
  right: -40px;
  content: url(img/arrow-right.png);
}

li {
  list-style: none;
}

.heading {
  font-size: 64px;
  /* width: 510px; */
}

.heading-h2, .heading-h3, .form-btn, .header, .footer, .contacts-header-top-text {
  text-align: center;
}

.footer-box, .heading-top-box, .footer-box-heading {
  text-align: left;
}

.heading-h2 {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  /* text-align: center; */
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.heading-h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.heading-h4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  font-weight: 400;
  text-align: left;
  width: 295px;
  margin-bottom: 14px;
}

.contacts-body .heading-h4 {
  font-weight: 500;
}

.contacts-main {
  display: block;
  width: 100%;
  height: 250px;
  background-image: url(img/ContactUs-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-header-top {
  height: 250px;
  padding-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header-top-header {
  margin-top: 16px;
}

.contacts-header-top-text {
  width: 780px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* grid-template-columns: 2fr 3fr; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin: 50px 0;
}

.cmc-box {
  margin-bottom: 40px;
}

.contacts-main-contacts, .form {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}

.contacts-main-contacts {
  max-width: 310px;
  margin: auto 0;
}

.contacts-main-contacts li {
  padding-left: 40px;
  position: relative;
}

.contacts-main-contacts a {
  color: #1F3F68;
  text-decoration: none;
}

.contacts-main-contacts-phone li::before {
  position: absolute;
  content: url(img/phone-pic.svg);
  left: 0px;
}

.contacts-service-site::before {
  position: absolute;
  content: url(img/site-pic.svg);
  left: 0px;
}

.contacts-service-mail::before {
  position: absolute;
  content: url(img/mail-pic.svg);
  left: 0px;
}

.contacts-main-form {
  width: 540px;
  height: 800px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 56px;
}

.contacts-heading-h4 {
  text-transform: uppercase;
  margin-bottom: 24px;
  /* margin-top: 40px; */
}

.contacts-main-form-heading {
  margin-bottom: 48px;
}

.form-txt {
  border: 1px solid #356EAD;
  border-radius: 10px;
  margin: 8px 0 32px;
  padding: 0 42px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

.form-input-name, .form-input-email, .form-btn {
  height: 72px;
  width: 100%;
}

.form-input-message {
  width: 100%;
  height: 144px;
  margin-bottom: 72px;
  padding-top: 21px;
  font-family: Roboto, sans-serif;
}

.form-btn {
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.form-btn:hover {
  background: blue;
}

.map-div {
  width: 100%;
  margin-bottom: 112px;
}

.footer {
  background-color: #316099;
  color: #ffffff;
}

.footer-text {
  color: #fff;
  text-align: left;
}

.footer-box {
  width: 495px;
  padding-top: 25px;
}

.footer-box-heading {
  width: 340px;
  margin: 0 0 32px 0;
}

.footer-contacts li {
  max-width: 317px;
  color: #fff;
  opacity: 1;
  position: relative;
}

.footer-contacts-text {
  padding-left: 40px;
}

.footer-contacts-text::before {
  position: absolute;
  content: 'A.';
  left: 0px;
}

.footer-contacts-phone::before {
  position: absolute;
  content: 'T.';
  left: -40px;
}

.footer-contacts-email::before {
  position: absolute;
  content: 'E';
  left: -40px;
}

.footer-container-top {
  height: 391px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container-bottom {
  height: 266px;
  /* margin: auto 0; */
}

.footer-container-bottom-contacts {
  height: 478px;
  padding-top: 97px;
}

.footer-contacts-box {
  padding-top: 64px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.footer-contacts-bottom {
  width: 100%;
  height: 250px;
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 390px 1fr 1fr;
      grid-template-columns: 390px 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contacts-bottom a, .footer-contacts-bottom .text {
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer-contacts-bottom .heading-h4 {
  color: #FFFFFF;
}

.footer-contacts-bottom-afrianska, .footer-contacts-bottom-aboutus, .footer-contacts-bottom-followus {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-contacts-bottom-afrianska-items {
  /* flex-grow: 2 1 1; */
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.afrianska-logo {
  margin-left: 40px;
  position: relative;
  font-weight: 500;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.afrianska-logo::before {
  position: absolute;
  content: url(img/logo.svg);
  left: -80px;
}

.footer-contacts-bottom-item {
  position: relative;
}

.footer-contacts-bottom-text::before {
  position: absolute;
  content: 'A.';
  left: -40px;
}

.footer-contacts-bottom-phone::before {
  position: absolute;
  content: 'T.';
  left: -40px;
}

.footer-contacts-bottom-email::before {
  position: absolute;
  content: 'E';
  left: -40px;
}

.footer-copy {
  padding-top: 64px;
  opacity: .4;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 32px;
  }
  .heading-top {
    background-position: right 90%;
  }
  .main-info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .smart-box {
    width: 100%;
    margin-bottom: 32px;
  }
  .apps-box .other-projects {
    left: 19px;
    top: 19px;
    font-size: 28px;
    font-weight: 300;
  }
  .footer-container-top, .footer-container-bottom {
    height: 321px;
    padding: 0 124px;
  }
  .footer-box {
    width: 325px;
    padding-top: 0;
  }
  .footer-text {
    width: 321px;
  }
  .footer-button {
    padding: 3px 30px;
  }
  .footer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
  }
  .footer-contacts li {
    text-align: left;
    max-width: 100%;
    margin-bottom: 24px;
  }
  .footer-contacts-text {
    padding-left: 0px;
  }
  .footer-contacts-text::before {
    left: -40px;
  }
  .footer-copy {
    padding-top: 40px;
  }
  .contacts-main-container {
    width: 100%;
    padding: 0;
  }
  .contacts-header-top-text {
    width: 100%;
  }
  .contacts-main-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-main-form {
    width: 520px;
    padding: 54px;
    margin-top: 64px;
  }
  .map-div {
    margin-bottom: 64px;
    width: 100%;
  }
}

@media (max-width: 667px) {
  .container {
    padding: 0 16px;
  }
  .heading {
    width: 100%;
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 37px;
  }
  .heading-h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .heading-top {
    margin: 0 auto;
    background-image: none;
    padding-top: 36px;
  }
  .heading-top-box {
    text-align: center;
    margin-top: 0;
  }
  .heading-top-text {
    width: 100%;
    text-align: center;
  }
  .header-button {
    padding: 0 8px;
    margin-top: 32px;
  }
  .other-projects, .apps-box .other-projects {
    left: 16px;
    top: 16px;
    right: 16px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
  }
  .apps-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px;
  }
  .apps-box2 {
    margin-left: 0;
  }
  .footer-container-top, .footer-container-bottom {
    padding: 0 32px;
  }
  .footer-container-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 18px 0 50px;
  }
  .footer-box-heading, .footer-text {
    text-align: center;
  }
  .map-div {
    margin-bottom: 32px;
  }
  .contacts-main-form {
    width: 342px;
    padding: 36px;
    margin-top: 32px;
  }
}
/*# sourceMappingURL=style.css.map */